<main>
  <div class="row">
    <div class="row description">
      <div class="col-sm-2">
        <img src="assets/opacity-zero.jpg" alt="product image" />
      </div>
      <div class="col-sm-6">
        <p class="album-name">Opacity Zero</p>
        <p class="band-name">The Prependers</p>
        <p class="album-release-date">September 25, 2014</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row tracklisting">
        <ul>
          <li>
            <div class="col-sm-5">
              <span class="track-number">1</span>
              <span class="track-name">The Last</span>
            </div>
            <div class="col-sm-3 text-right">
              <span class="track-time">4:48</span>
              <span class="price-and-buy"><button>$0.99</button></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>