@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Technology Live Conference!</h1>
    <p>This fictional conference is being used as an example for what a real world conference website might look like and contain in regards to basic functionality.</p>
    <p>Different iterations of this website are used for different projects to avoid learners needing to learn different industries' practices and concerns so that they can focus on the specific technology they've come to learn. This means some versions of this website will presented intentionally missing critical functionality, while others will be far closer feature complete.</p>
    <p>This also means some examples of this website will omit certain practices and behaviors that are best practices, because those best practices are more advanced or otherwise complicate the code creating additional difficulty in learning the specific topic at hand. (So don't worry if you notice code isn't being run asynchronously or error handling has obvious holes in it, this has been done to reduce the noise in the code to make it easier to focus on the topic the project is covering!)</p>
    <p>As such if you decide to use one of these projects as a starting point for a web application of your own, keep in mind this code is intended for learning purposes and shouldn't be considered "production ready".</p>
</div>
