@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-3">
    @Html.Partial("AdminNav")
</div>

<div class="col-md-6">
    <h2 class="page-header">Welcome to the Admin Area!</h2>
    <p>This section is still under construction, but feel free to explore! On the left you'll find links to items that are finished, and some that are still coming!</p>
    <hr />
</div>