@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is an example website used for educational purposes, we will not collect, store, sell, trade, etc data entered into this website.</p>
<p>Note: This project is run locally on your own computer and utilizes an in memory database, meaning we don't even have access to the data, plus it effectively destroys the database everytime the application is closed.</p>
<p>Simple fact is the best way to keep user's personal data secure is to never have it in the first place!</p>
