@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3>Claims:</h3>

@if(User.Identity.IsAuthenticated)
{
    <table>
        @foreach(var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>
}