<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>ControllerServlet</servlet-name>
  	<servlet-class>com.pluralsight.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerServlet</servlet-name>
  	<url-pattern>/books/*</url-pattern>
  </servlet-mapping>
</web-app>
