@model WishList.Models.Item

<h3>Add item to wishlist</h3>

<form asp-action="create">
    <input asp-for="Description" />
    <span asp-validation-for="Description"></span>
    <button type="submit">Add item</button>
</form>