<!doctype html>
<html>
  <head>
    <title>PS CMS ADMIN</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/dashboard.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand-text" href="#">PS CMS</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-light" href="{{ url_for('admin.logout') }}">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="columns">
        <div class="column is-2">
          <div class="menu">
            <p class="menu-label">Administration</p>
            <ul class="menu-list">
              <li><a href="{{ url_for('admin.content', type='page') }}">Pages</a></li>
              <li><a href="{{ url_for('admin.content', type='post') }}">Posts</a></li>
              <li><a href="{{ url_for('admin.content', type='partial') }}">Partials</a></li>
              <li><a href="{{ url_for('admin.content', type='template') }}">Templates</a></li>
              <li><a href="{{ url_for('admin.users') }}">Users</a></li>
              <li><a href="{{ url_for('admin.settings') }}">Settings</a></li>
            </ul>
          </div>
        </div>
        <div class="column is-10">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
