<!doctype html>
<html>
  <head>
    <title>PS CMS ADMIN</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item brand-text" href="/">PS DEMO</a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            {% for title in titles %}
              <a class="navbar-item" href="{{ url_for('index', slug=title.slug) }}">{{ title.title }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
          {% endfor %}
          <form method="POST">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input type="text" class="input" name="username">
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input type="password" class="input" name="password">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input type="submit" class="button is-link" value="Login">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
