<!DOCTYPE html>
<html>
  <head>
    <% if (locals.title) { %>
      <title><%= title %></title>
    <% } else  { %>
      <title>Bank Portal</title>
    <% } %>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>
  <body>