<%- include('header'); %>

  <h1>Payment</h1>

  <% if (locals.message) { %>
    <span class="message"><%= message %></span>
  <% } %>
  <span class="error"></span>

  <p>Current Balance: $<%= account.balance %></p>
  <form id="paymentForm" action="/payment" method="POST">
    <label for="amount">Payment: <input type="number" name="amount" id="amount" required placeholder="amount" step="0.01"></label>
    <button type="submit">Submit Payment</button>
  </form>

  <br><a href="/">Back to Accounts Summary</a>
  <script src="js/transfer.js"></script>

<%- include('footer'); %>