
@{
    ViewBag.Title = "Final";
}

<div class="col-md-12">
    <h2 class="page-header">Thank you!<small style="margin-left: 25px">We're so glad you share our vision.</small></h2>
    <p>Your estimated rate is $102 per month.  You can adjust this to better fit your needs by tweaking your product selection.</p>
    <p>Note: Your loan application session has now expired. To update details of this application, contact one of our sales reps.</p>
</div>