<ul class="list-unstyled admin-menu">
    <li>
        @Html.ActionLink("Home", "Index", "Default")
    </li>
    <li>
        @Html.ActionLink("Data Export", "Index", "DataExport", null, new { area = "Admin" })
    </li>
    <li>
        @Html.ActionLink("Workflow", "Index", "Default")
    </li>
    <li>
        @Html.ActionLink("Activity", "Index", "Default")
    </li>
</ul>
